@page "/pizzas-toppings"
@rendermode InteractiveServer
@using BlazorAppPizza.Components.Shard

<h1 class="text-3xl font-bold">Our Latest Pizzas and Topping</h1>

<Pizza PizzaName="Hawaiian" PizzaDescription="The one with pineapple" />

<PizzaTopping Topping="@(new BlazorAppPizza.PizzaTopping{ Name = "Chilli Sauce", Ingredients = "Three kinds of chilli." })" />
