@page "/special-offers"
@rendermode InteractiveServer
@using BlazorAppPizza.Components.Shard

<h1 class="text-3xl font-bold">Special Offers</h1>

<CascadingValue Name="DealName" Value="@DealName">
    <AppStateDemo/>
    <CascadeDemo />
</CascadingValue>

@code {
    private string DealName  = "Throwback Thursday";

}